[submodule "Artigo/5f5e5da34e095d00016fdc35"]
	path = Artigo/5f5e5da34e095d00016fdc35
	url = https://git.overleaf.com/5f5e5da34e095d00016fdc35
[submodule "Instrumentos/Codigos/metabot"]
	path = Instrumentos/Codigos/metabot
	url = git@github.com:EricRibeiro/metabot.git
[submodule "Instrumentos/Codigos/metabot-utils"]
	path = Instrumentos/Codigos/metabot-utils
	url = git@github.com:EricRibeiro/metabot-utils.git
[submodule "Instrumentos/Codigos/green-experiment"]
	path = Instrumentos/Codigos/green-experiment
	url = https://github.com/Genichiro00/green-experiment
[submodule "Instrumentos/Codigos/blue-experiment"]
	path = Instrumentos/Codigos/blue-experiment
	url = https://github.com/Genichiro00/blue-experiment/
[submodule "Instrumentos/Codigos/25e00769ec45050d74fdec9dbb42c0c4"]
	path = Instrumentos/Codigos/25e00769ec45050d74fdec9dbb42c0c4
	url = https://gist.github.com/25e00769ec45050d74fdec9dbb42c0c4.git
